* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;   
    overflow-x: hidden; 
}



#navigation {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    padding: 20px 5%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.071);
}

#nav_icon {
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
}

#nav_links {
    list-style: none;
   
}

#nav_links, li, a {
    display: inline-block;
    text-decoration: none;
    padding: 0px 10px;
    color: rgb(0, 0, 0);
}

.contact_button {
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    transition: 1s ease;
}

.contact_button:hover {
    border-radius: 50px;
    padding: 10px 15px;
    background-color: rgb(118, 177, 255);
    cursor: pointer;
    color: white;
}


 a {
    text-decoration: none; 
    transition: 0.5s ease;
}

 a:hover {
    color: rgb(38, 103, 255);
}

img {
  width: 100%;
  height: 600px;
}
/*makes the banner image have text on top*/
.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .top-left {
    position: absolute;
    top: 160px;
    left: 16px;
  }

  .top-left, h1 {
    font-size: 1.7em;
    text-align: center;
  }

  .center_title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(123, 67, 67);
  }
  .center_title_text {
    font-size: 2.5em;
  }


  .sections {
    width: 100% vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .text_container {
    width: 700px;
    height: 400px;
    text-align: center; 
  }

  .text_header {
    font-size: 1.7em;
    padding-bottom: 20px;
    color: rgb(123, 67, 67);
  }

  #ingredients_img {
    width: 500px;
    height: 400px;
    margin-bottom: 30px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  @media (max-width:505px){
    #ingredients_img {
      width: 100%; 
      height: 100%;
      display: flex;
    }
   }

   @media (max-width:368px){
    p {
      font-size: .8em;
      display: flex;
    }
   }

  .alternate_sections {
    width: 100% vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: rgb(218, 234, 255);
    
  }


  /*card styling*/
  .card_container {
    width: 450px;
    height: 300px;
    text-align: center;
    justify-content: space-around;
    border-radius: 15px; 
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 1s ease;
  }
  .card_container:hover {
    width: 450px;
    height: 300px;
    text-align: center;
    justify-content: space-around;
    border-radius: 15px; 
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .card_header {
    font-size: 2em;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(123, 67, 67)
    
  }

  .card_pricing {
    font-size: 1.3em;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .card_description {
    padding-bottom: 20px;
    
  }

  .purchase_button {
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    transition: 1s ease;
}

.purchase_button:hover {
    border-radius: 50px;
    padding: 10px 15px;
    background-color: rgb(118, 177, 255);
    cursor: pointer;
    color: white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(118, 177, 255);
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer_links {
  color: rgb(0, 0, 0);
}
.footer_links:hover {
  color: rgb(255, 255, 255);
}